{% extends 'market/base.html' %}
{% load static %}

{% block content %}
<div class="login container">
    <div class="flex">
        <form class='register-form login-form' method="post" action="{% url 'users:register'%}">
            <h2 class="main-name">Instaswap</h2>
            {% csrf_token %}
            {{form.as_p}}
            <button class='btn' name='submit'>Register</button>
            <input name='next' type='hidden' value="{% url 'market:store'%}">
        </form>
    </div>
</div>
{% endblock content %}