{% extends 'market/base.html' %}
{% load static %}

{% block content %}
<footer class="footer ">
    <div class="container grid grid-3">
        <div>
            <h1>Instaswap</h1>
            <p>Copyright &copy; 2020</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Plumbing</a></li>
                <li><a href="#">Electrical</a></li>
                <li><a href="#">Ceramics</a></li>
                <li><a href="#">Gypsum</a></li>
            </ul>
        </nav>
        <div class="social ">
            <ul>
           <li><a href="#">Contact us</a></li>
            <li><a href="#">About us</a></li>
            </ul>
        </div>
    </div>
</footer>

{% endblock content %}